@import '_layout';
@import '_header';
@import '_menu';
@import '_sub-menu';
@import '_sidebar';

// Custom styles.
// 添加背景图片
body {
  background: url(/images/wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

// 修改主体透明度
.main-inner {
  background: #fff;
  opacity: 0.8;
}

// 修改菜单栏透明度
.header-inner {
  opacity: 1;
}